
<div class="top">
    <form >
        <div class="row">
            <div class="column"> 
                <label>Utility Name</label><br>
                <input type="text" class="in">
            </div>
            <div class="column">
                <label>Account Name</label><br>
                <input type="text" class="in">
            </div>
            <div class="column">
                <label>Account Number</label><br>
                <input type="text" class="in"></div>
        </div>
        <div class="row sec">
            <div class="column"> 
                <label>Bill Start Date</label><br>
                <input type="text" class="in">
            </div>
            <div class="column">
                <label>Bill Period</label><br>
                <input type="text" class="in">
            </div>
        </div>

        <div>
            <button mat-raised-button  color="accent" >
                <mat-icon>add_circle</mat-icon>
                Add New Doc
            </button>
        </div>
        <div class="btn-al">
            <button mat-raised-button  color="accent" >
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-raised-button color="accent">
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
        
    </form>
</div>

